* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Noto Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
span {
  color: #2f4858;
  line-height: 160%;
}

.title-m,
.title-d {
  font-size: 34px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-wrapper {
  width: 180px;
  height: 60px;
  .btn {
    width: 100%;
    height: 100%;
    border: none;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }
}

.hero-section {
  width: 100%;
  height: 375px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: #487b9b;
}

.section-wrapper {
  padding: 80px 60px;
  // margin: 0 -15px;
}

.intro-section {
  background-color: #00886c;
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    .intro-text {
      font-size: 22px;
      font-weight: bold;
      color: white;
      text-align: center;
      width: 60%;
    }
  }
}

.section-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc((96.59% / 2)));
  grid-gap: 40px;
  margin-bottom: 40px;
}

.about-section {
  background-color: #f0f0f0;
  &-wrapper {
    .section-grid-1 {
      .title-m {
        display: none;
      }
      .img-info {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          object-fit: cover;
        }
      }
      .text-info {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .section-grid-2 {
      .title-m {
        display: none;
      }
      .img-info {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .text-info {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.join-section {
  &-wrapper {
    .section-grid-1 {
      margin-bottom: 0;
      .highlight-info {
        .title-text-box {
          .title {
            // margin-bottom: 20px;
            font-size: 34px;
            line-height: 160%;
            // text-align: center;
            .underline {
              box-shadow: inset 0 -19px 0px#e5ad1d;
            }
          }
        }
        .btn-wrapper-d {
          margin-top: 15px;
          .join-btn {
            background-color: #e5ad1d;
          }
        }
      }
      .join-section-text--wrapper {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        .text {
          display: inline;
        }
      }
      .btn-wrapper-m {
        display: none;
      }
    }
  }
}

.work-section {
  width: 100%;
  position: relative;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .work-section--content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 161, 51, 0.4);
    margin-bottom: 0px;
    padding: 50px 0;
    &--title {
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 15px;
      font-size: 34px;
      display: none;
    }

    &--display {
      grid-column: 1/2;
      grid-row: 1/3;
      .title-lg {
        text-align: center;
        margin-bottom: 10px;
      }
      .work-display--tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        .tags {
          width: 250px;
          // height: 150px;
          margin: 0px 15px 15px 0;
          padding: 20px 30px;
          border: 2px solid #fff;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .tag-main-text {
            font-size: 25px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            // margin-bottom: 10px;
          }
          .tag-sub-text {
            font-size: 16px;
            // font-weight: bold;
            color: #fff;
            text-align: center;
          }

          .xll {
            font-size: 40px;
          }
          .xl {
            font-size: 30px;
          }

          &:hover {
            background-color: #fff;
            transition: all 300ms ease;
            .tag-main-text,
            .tag-sub-text {
              color: rgba(255, 161, 51, 1);
            }
          }
        }
      }
    }

    &--map {
      grid-column: 2/3;
      grid-row: 1/3;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.service-section {
  width: 100%;
  position: relative;
  background-color: #fff;
  &-wrapper {
    .service-intro {
      grid-row-gap: 0;
      .title-d {
        font-size: 32px;
        margin-bottom: 15px;
        text-transform: uppercase;
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .text {
        font-size: 18px;
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
    .service-display {
      width: 100%;
      display: grid;

      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      grid-gap: 40px;
      .service-card {
        width: 100%;
        height: 380px;
        position: relative;

        // perspective: 25rem;
        // margin-bottom: 15px;
        // margin-right: 15px;
        .card__side {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transition: all 0.7s ease;
          backface-visibility: hidden;
          border-radius: 2px;
        }
        .card__side--front {
          background-color: #e7e5e5;

          .name {
            text-transform: uppercase;
            color: #0865a0;
            font-weight: bold;
          }
          img {
            width: 100%;
            height: 250px;
          }
        }
        .card__side--back {
          background: #2475a8;
          transform: rotateY(180deg);
          padding: 0 20px;

          .text {
            color: #fff;
          }
        }

        &:hover .card__side--front {
          transform: rotateY(-180deg);
        }
        &:hover .card__side--back {
          transform: rotateY(0deg);
        }
      }
    }
  }
}
.explore-section {
  // margin: 50px 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));

  .explore-box {
    height: 270px;
    mix-blend-mode: darken;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;

    .text {
      font-size: 20px;
      color: #fff;
      width: 80%;
      text-align: center;
    }
    .btn-wrapper {
      margin-top: 20px;
      width: auto;
      .btn {
        width: 100%;
        height: 100%;
        padding: 15px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .explore-box-1 {
    background-image: linear-gradient(rgba(0, 136, 108, 0.8)), url("../assets/img/explore_1.jpg");

    .know-more-btn {
      background: #73a729;
      &:hover {
        background: rgb(79, 128, 11);
      }
    }
  }
  .explore-box-2 {
    background-image: linear-gradient(rgba(115, 167, 41, 0.8)), url("../assets/img/explore_2.jpg");
    .join-btn {
      background: #007376;
      &:hover {
        background: rgb(11, 76, 78);
      }
    }
  }
  .explore-box-3 {
    background-image: linear-gradient(rgba(0, 136, 108, 0.8)), url("../assets/img/explore_3.jpg");
    .community-btn {
      background: #00886c;
      &:hover {
        background: rgb(10, 85, 70);
      }
    }
  }
}
.tweet-section-main {
  background-color: rgba(255, 161, 51, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  .title-d {
    margin: 40px 0;
  }
  .twitter-btn {
    background-color: rgba(255, 161, 51, 1);
  }
}

.tweet-section {
  position: relative;
  padding: 0 60px;
  margin-bottom: 40px;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 21px;
  grid-column-gap: 30px;
  grid-row-gap: 13px;

  .tweet-card-wrapper {
    position: relative;
    // border: 1px solid #b4b3b3;

    width: 100%;
    .content {
      background-color: #f5f5f5;
      border: 2px solid #f5f5f5;
      border-radius: 2px;
      // box-shadow: 1px 1px 2px rgba(#000000, 0.1);
      &:hover {
        background-color: white;
      }
    }
    .tweet-text {
      font-size: 16px;
      margin: 20px 20px 10px 20px;
    }
    .hashtag {
      color: #185379;
      // font-weight: bold;
      margin: 0 3px;
      text-decoration: none;
      background-color: rgba(24, 82, 121, 0.075);
    }
    .tweet-link {
      text-align: center;
      margin: 5px 0;
    }
    video {
      width: 100%;
      height: 150px;
      object-fit: cover;
      outline: none;
      margin: 20px 0;
    }
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      outline: none;
      margin: 10px 0;
    }
    .profile {
      position: relative;
      max-width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      &-img {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
      }

      &-info {
        .name {
          font-size: 16px;
          font-weight: bold;
        }
        .screen-name {
          color: rgb(134, 131, 131);
          font-size: 14px;
          font-weight: normal;
        }
      }
    }

    .tweet-action-btn-box {
      width: 90%;
      border-top: 1px solid rgb(230, 223, 223);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      .action-btns {
        display: flex;
      }
      .twitter-logo {
        margin-top: 10px;
        .ph-twitter-logo-fill {
          font-size: 25px;
          color: #1da1f2;
        }
      }

      a {
        text-decoration: none;
        color: gray;
        font-size: 15px;
        margin-right: 15px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .ph-arrow-bend-down-left,
        .ph-repeat,
        .ph-heart {
          font-size: 18px;
        }
        .number {
          margin: 0 4px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .work-section--content--display {
    align-self: center;
    .title-d {
      color: white;
      font-size: 34px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
@media screen and (min-width: 1400px) {
  .hero-section {
    height: 500px;
  }
}
@media screen and (min-width: 1800px) {
  .hero-section {
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .intro-section {
    .intro-text {
      width: 80%;
    }
  }
  .work-section {
    .title-d {
      display: none;
    }
    .work-section--content--title {
      display: block;
    }

    .work-section--content {
      grid-template-columns: 1fr;
      grid-template-rows: 50px;
      // align-items: center;

      &--title {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        // padding-top: 30px;
      }
      &--display {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        .work-display--tags {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
      }

      &--map {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        // z-index: 0;
        img {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 1115px) {
  .explore-box-3 {
    grid-column: 1/ 3;
  }
}
@media screen and (max-width: 950px) {
  .work-section {
    .work-section--content {
      &--display {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .hero-section {
    height: 250px;
  }
  .intro-section {
    .intro-text {
      width: 100%;
    }
  }
  .section-wrapper {
    padding: 60px 40px;
    // margin: 0 -15px;
  }

  .section-grid {
    grid-template-columns: 1fr;
  }
  .about-section {
    &-wrapper {
      .section-grid-1,
      .section-grid-2 {
        grid-gap: 20px;
        .title-m {
          display: block;
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .title-d {
          display: none;
        }
        .img-info {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        .text-info {
          grid-column: 1/2;
          grid-row: 3/4;
        }
      }
    }
  }
  .join-section {
    &-wrapper {
      .section-grid-1 {
        grid-template-columns: 1fr;
        grid-gap: 25px;

        .btn-wrapper-d {
          display: none;
        }
        .highlight-info {
          grid-column: 1/2;
          grid-row: 1/2;
          .title {
            text-align: center;
          }
        }
        .join-section-text--wrapper {
          grid-column: 1/2;
          grid-row: 2/3;
          .text {
            text-align: center;
          }
        }
        .btn-wrapper-m {
          width: 100%;
          display: block;
          grid-column: 1/2;
          grid-row: 3/4;
          background-color: #e5ad1d;
        }
      }
    }
  }

  .tweet-section-main {
    .title-d {
      margin-bottom: 0px;
    }
    .tweet-section {
      margin-bottom: 0;
    }
  }

  .title,
  .title-d,
  .title-m {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 700px) {
  .work-section {
    padding: 0;
    .work-section--content {
      .work-display--tags .tags {
        width: 100%;
      }
    }
  }
  .explore-section {
    grid-template-columns: 1fr;

    .explore-box-1 {
      grid-column: 1/ 2;
      grid-row: 1/ 2;
    }
    .explore-box-2 {
      grid-column: 1/ 2;
      grid-row: 2/3;
    }
    .explore-box-3 {
      grid-column: 1/ 3;
      grid-row: 3/4;
    }
  }
}

@media screen and (max-width: 600px) {
  .section-wrapper {
    padding: 40px 20px;
    // margin: 0 -15px;
  }
  .intro-section {
    &-wrapper {
      width: 100%;
    }
  }
  .work-section {
    // height: 200vh;
    .work-section--content--title {
      padding: 0 15px;
    }

    .work-section--content {
      padding: 50px 0;
      &--display {
        width: 95%;
      }
    }
  }
  .service-section {
    .service-intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title-d {
        text-align: center;
      }

      p {
        text-align: center;
        width: 100%;
      }
    }
    .service-card {
      height: 550px !important;
      .card__side {
        transform: 0;
        top: 0 !important;
        height: 300px !important;
      }
      .card__side--back {
        top: 300px !important;
        height: 250px !important;
        transform: rotateY(0deg) !important;
      }

      &:hover .card__side--front {
        // display: none;
        transform: rotateY(0) !important;
      }
      &:hover .card__side--back {
        // display: flex;
        transform: rotateY(0deg) !important;
      }
    }
  }
  .title-m,
  .title-d,
  .title {
    font-size: 26px !important;
  }

  .text {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 480px) {
  .hero-section {
    height: 188px;
  }
}

@media screen and (max-width: 451px) {
  .work-section {
    .work-section--content--map {
      padding-top: 60px;
    }
  }
}

@media screen and (max-width: 370px) {
  .hero-section {
    height: 156px;
  }
}
